@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
/* Announcement Bar */
.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 100%;
    background: linear-gradient(243deg,#FDB99B, #CF8BF3, #A770EF);
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 540;
    margin: 0;
    padding: 0em 0em 0.3em 0em;
    vertical-align: middle;
    font-size: 1em;
    position: relative;
}
.announcement p {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
}
.close-btn {
    position: absolute;
    right: 25px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.close-btn:hover {
    color: black;
}


/* Navigation Bar */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
}
.logo {
    font-size: 2em;
    cursor: default;
    background: linear-gradient(243deg,#5d69be 15%, #c89feb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1.6em;
    letter-spacing: 0px;
}
.logo span {
    color: #7d2ae8;
}
.navigation {
    display: flex;
    gap: 30px;
}
.navigation a {
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: #7d2ae8;
}


/* Home Section */
.home {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 675px;
}
.content {
    max-width: 700px;
    text-align: left;
    color: black;
}
.content h1 {
    font-size: 2.5em;
}
.content h1 span {
    color: #7d2ae8;
}
.content h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.loc p {
    font-size: 25px;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    opacity: 55%;
}


/* Projects Section */
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
}
.Projects-Title {
    background: linear-gradient(243deg, #5d69be 50%, #c89feb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    font-weight: 600;
    line-height: 1.6em;
    letter-spacing: 0px;
    margin: 40px 0 0 0;
    text-align: left;
    padding-right: 910px;
}
.projects_frame {
    width: 100%;
    max-width: 1500px;
    display: flex;
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
.project_frame1,
.project_frame2 {
    width: 580px;
    height: 635px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.project_box1,
.project_box2 {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px;
}
.aquasol_text {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.aquasol_text_heading {
    font-size: 26px;
    color: #000;
    margin-bottom: 10px;
}
.aquasol_text_description {
    font-size: 20px;
    color: #737373;
}
.project2_text {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project2_text_heading {
    font-size: 26px;
    color: #000;
    margin-bottom: 10px;
}
.project2_text_description {
    font-size: 20px;
    color: #737373;
}


/* Experience Section */
.Experience-Title {
    background: linear-gradient(243deg, #5d69be 50%, #c89feb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 1.6em;
    letter-spacing: 0px;
    margin-top: 0px;
    text-align: left;
    margin-left: 16px;
}
.Experience-Container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 0px;
}
.exp1_frame, 
.exp2_frame, 
.exp3_frame{
    text-decoration: none;
}
.Exp1_box,
.Exp2_box,
.Exp3_box {
    width: 400px;
    height: 450px;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.Exp1_box .Exp1_title,
.Exp2_box .Exp2_title,
.Exp3_box .Exp3_title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.Exp1_box .Exp1_description,
.Exp2_box .Exp2_description,
.Exp3_box .Exp3_description {
    font-size: 18px;
    color: #737373;
}


/* More Section */
.More {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}
.More-Title {
    background: linear-gradient(243deg, #5d69be 50%, #c89feb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 1.6em;
    letter-spacing: 0px;
    margin-top: 50px;
    text-align: left;
    padding-right: 1080px;
}
.More-Container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box1_frame,
.box2_frame,
.box3_frame{
    text-decoration: none;
}
.More-box1,
.More-box2,
.More-box3 {
    width: 400px;
    height: 480px;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.More-box1 .More-title,
.More-box2 .More-title,
.More-box3 .More-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.More-box1 .More-description,
.More-box2 .More-description,
.More-box3 .More-description {
    font-size: 18px;
    color: #737373;
}


/* Footer Section */
.footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    width: 100%;
    margin-top: 60px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-name{
    background: linear-gradient(243deg, #FFD0EC 50%, #c89feb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.rights p {
    margin: 0;
}
.social-links a {
    color: #fff;
    font-size: 20px;
    margin-left: 50px;
}


/* Text Selection Color */
::selection {
    background: #9195F6;
}

::-moz-selection {
    background: #9195F6;
}

::-webkit-selection {
    background: #9195F6;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#fa90b6, #a48df2);
    border: 1px solid #000000;
}


/* Take to the Top Button */
#toTheTopButton {
    display: none;
    width: 65px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 99;
    border: black;
    outline: black;
    background-color: black;
    color: white;
    font-size: 50px;
    border-radius: 9%;
    transition: 0.3s;
}
#toTheTopButton:hover {
    transform: translate(0, -10px);
    background-color: #9195F6;
}


/* Boxes' Hover Effects */
.project_box1, .project_box2 {
    transition: 0.3s;
}
.project_box1:hover, .project_box2:hover {
    transform: translate(0, -15px);
}

.Exp1_box, .Exp2_box, .Exp3_box {
    transition: 0.3s;
}
.Exp1_box:hover, .Exp2_box:hover, .Exp3_box:hover {
    transform: translate(0, -15px);
}

.More-box1, .More-box2, .More-box3 {
    transition: 0.3s;
}
.More-box1:hover, .More-box2:hover, .More-box3:hover {
    transform: translate(0, -15px);
}

@media (min-width: 360px) and (max-width: 445px) {

    html {
        overflow-x: hidden;
      }


    /* Body */
    body{
        padding-top: 8vh;
        overflow-x: hidden;
        max-width: 100%;
        width: 100%;
        /* width:76vw; */
    }


    /* Navigation Bar */
    header{
        width: 100%;
        /* width: 76vw; */
        height: 7vh;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: white;
    }
    .logo{
        font-size: 1em;
        font-weight: 700;
        padding-left: 3%;
        margin-left: 0%;
        padding-right: 0px;
        margin-right: 0px;
        line-height: 1em;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .navigation {
        padding-left: 0px;
        padding-right: 0%;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 3%;
        gap: 10px;
        margin-bottom: 0px;
    }
    .navigation a {
        font-size: 80%;
        font-weight: 300;
        padding-left: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }


    /* Announcement Bar */
    .announcement {
        width:100%;
        font-size: 68%;
        font-weight: 500;
        margin-top: 0px;
        margin-left: 0em;
        height: 20px;
    }
    .announcement p{
        max-inline-size: 100%;
        width:70%;
        margin-left: 0em;
        margin-top: 3px;
        text-align: center;
        position: relative;
        animation: move-words 7s linear infinite;
    }
    @keyframes move-words {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
    }
    .close-btn {
        opacity: 0%;
        top:1px;
        right:45px;
        font-size: 13px;
    }


    /* Home Section */
    .home {
        max-width: 100%;
        width: 100%;
        /* width: 76vw; */
        height: 15vh;
        padding: 0% 2% 0% 5%;
        margin: 16% 0% 0% 0%;
    }
    .content {
        max-width: 100%;
        width: 100%;
        /* width: 76vw; */
        height: 100%;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
    }
    .content h1{
        max-width: 100%;
        width: 100%;
        /* width: 76vw; */
        height: 25%;
        font-size: 150%;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
    }
    .content h2{
        max-width: 100%;
        width: 100%;
        /* width: 76vw; */
        height: 100%;
        font-size: 120%;
        font-weight: 550;
        padding: 1% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
    }
    .loc {
        height: 5vh;
    }
    .loc p{
        max-width: 100%;
        width: 100%;
        /* width: 76vw; */
        height: 100%;
        font-size: 100%;
        font-weight: 300;
        padding: 5% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        opacity: 60%;
    }


    /* Projects Section */
    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: unset;
        padding: 30% 2.5% 0% 2.5%;
    }
    .Projects-Title {
        font-size: 260%;
        padding: 10% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
    }
    .projects_frame {
        /* max-width: 75vw; */
        max-width: 100%;
        width: 100%;
        max-height: 1000px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: flexbox;
        align-items:center;
        justify-content: center;
        flex-direction: column;
    }
    .project_frame1,
    .project_frame2 {
        width: 100%;
        height: 50%;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        align-items: center;
    }
    .project_frame1{
        padding-top: 5%;
    }
    .project_frame2{
        padding-top: 0%;
        margin-top: 0%;
    }
    .project_box1,
    .project_box2 {
        width: 100%;
        height: 100%;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
    }
    .project_box1 img,
    .project_box2 img{
        padding: 3% 2% 0% 2%;
        width: 100%;
        height: 30%;
    }
    .aquasol_text, 
    .aquasol_text_heading,
    .aquasol_text_description {
        padding-left: 3%;
    }
    .aquasol_text {
        font-size: 170%;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
    .aquasol_text_heading{
        font-size: 87%;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
    .aquasol_text_description{
        font-size:72%;
        margin-top: 1.5%;
        margin-bottom: 5%;
    }
    .project2_text,
    .project2_text_heading,
    .project2_text_description{
        padding-left: 3%;
    }
    .project2_text{
        font-size: 170%;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
    .project2_text_heading{
        font-size: 87%;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
    .project2_text_description{
        font-size:72%;
        margin-top: 1.5%;
        margin-bottom: 5%;
    }


    /* Experience Section */
    .Experience-Title{
        font-size: 260%;
        padding: 15% 0% 0% 3%;
        margin: 0% 0% 0% 0%;
    }
    .Experience-Container {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: unset;
        padding: 0% 2.5% 0% 2.5%;
        margin: 0% 0% 0% 0%;
    }
    .Exp1_box,
    .Exp2_box,
    .Exp3_box {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
    }
    .Exp1_box img,
    .Exp2_box img,
    .Exp3_box img {
        width: 100%;
        padding: 3% 2% 0% 2%;
    }
    .Exp1_box .Exp1_title,
    .Exp2_box .Exp2_title,
    .Exp3_box .Exp3_title {
        font-size: 140%;
    }
    .Exp1_box .Exp1_description,
    .Exp2_box .Exp2_description,
    .Exp3_box .Exp3_description {
        font-size: 95%;
        padding-bottom: 4%;
    }
    .Exp1_box .Exp1_title,
    .Exp2_box .Exp2_title,
    .Exp3_box .Exp3_title,
    .Exp1_box .Exp1_description,
    .Exp2_box .Exp2_description,
    .Exp3_box .Exp3_description {
        padding-left: 3%;
    }


    /* More Section */
    .More {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: unset;
        flex-wrap: wrap;
        padding: 0% 2.5% 0% 2.5%;
        margin: 0% 0% 0% 0%;
    }
    .More-Title {
        width: 97%;
        /* width: 97.5vw; */
        height: 100%;
        font-size: 260%;
        padding: 15% 0% 5% 3%;
        margin: 0% 0% 0% 0%;
    }
    .More-Container {
        /* max-width: 75vw; */
        width: 100%;
        max-width: 100%;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: flex;
        align-items:unset;
        justify-content: unset;
        gap: 15px;
        flex-direction: row;
    }
    .More-box1,
    .More-box2,
    .More-box3 {
        width: 100%;
        height: 100%;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
    }
    .More-box1 img,
    .More-box2 img,
    .More-box3 img {
        width: 100%;
        padding: 3% 2% 0% 2%;
    }
    .More-box1 .More-title,
    .More-box2 .More-title,
    .More-box3 .More-title,
    .More-box1 .More-description,
    .More-box2 .More-description,
    .More-box3 .More-description {
        padding-left: 3%;
    }
    .More-box1 .More-title,
    .More-box2 .More-title,
    .More-box3 .More-title {
        font-size: 140%;
    }
    .More-box1 .More-description,
    .More-box2 .More-description,
    .More-box3 .More-description {
        font-size: 95%;
        padding-bottom: 4%;
    }
    .More-box2 .More-title,
    .More-box3 .More-title {
        height: 7%;
    }
    .box1_frame {
        width:100%;
        padding-bottom: 4%;
    }
    .box2_frame,
    .box3_frame {
        width:100%;
        height: 31%;
    }
    .More-box2,
    .More-box3 {
        height: 100%;
    }


    /* Footer Section */
    .footer-content {
        padding-left: 3%;
        display: flex;
        flex-direction: column;
    }
    .rights p{
        font-size: 70%;
        text-align:center;
    }
    .social-links {
        display:flex;
        flex-direction: row;
        padding-top: 5%;
        gap: 50%;
    }
    .social-links a{
        margin-left: 0px;
    }


    /* Take to the Top Button */
    #toTheTopButton {
        right: 2.5%;
        bottom: 7.5%;
    }
}
  

@media (min-width: 446px) and (max-width: 900px) {
    .announcement p{
        width:80%;
        margin-left: 0em;
    }
}
